# Homework 8

**Name:** Ji Jie

## Q1. Food Production

A food factory requires 2000 tons of canola oil every month as a raw ingredient. The price of canola oil fluctuates from month to month due to market conditions. The predicted prices for the next six months are as follows

|` ` | Apr | May | Jun | Jul | Aug | Sep |
|--|--|--|--|--|--|--|
| Price (\$) per ton | 150 | 160 | 180 | 170 | 180 | 160 |

The factory's supplier for canola oil delivers it on the first day of every month, and charges the prices above. The factory can decide how much oil to buy each month from the supplier. The factory can also store up to 1000 tons of oil for future use. (The current inventory before the shipment in April is zero.) Formulate an optimization problem to decide how much canola oil to buy for each of the six months in order to minimize the total purchase cost over these six months. 

**A) (English Summary)** Given a brief English summary of the decision, the objective, and the constraints.

**B) (Concrete Formualtion)** Translate the above into a concrete formulation of a LP or MIP, giving the decision variables, the objective and the constraints.

Decision: How many tons of oil to buy every month?

Objective: Minimize total cost.

Constraints:

            Meet the monthly need of 2000 tons;
            Store up to no more than 1000 tons.

**Objective and Constraints:** 

$$
\begin{aligned}
\text{Minimize: } && 150x_{1}+160x_{2}+180x_{3}+170x_{4}+180x_{5}+160x_{6}
\text{Subject to:}\\
\text{(Week 0)} && y_{0} = 0 \\
\text{(Week 1)} && y_{0}+x_{1}-2000 = y_{1} \\
\text{(Week 2)} && y_{1}+x_{2}-2000 = y_{2} \\
\text{(Week 3)} && y_{2}+x_{3}-2000 = y_{3} \\
\text{(Week 4)} && y_{3}+x_{4}-2000 = y_{4} \\
\text{(Week 5)} && y_{4}+x_{5}-2000 = y_{5} \\
\text{(Week 6)} && y_{5}+x_{6}-2000 = y_{6} \\
\text{(Store)} && y_{i} & \le 1000 \quad \text{for all $i$.} \\
\text{(Non-negativity}) && y_{i} & \ge 0 \quad \text{for all $i$.}
\end{aligned}$$

## Q2. Nurse Scheduling

Hospital administrators must schedule nurses so that the hospitalâ€™s patients are provided with adequate care. At the same time, in the face of tighter competition in the health care industry, they must pay careful attention to keeping costs down. 

From historical records, administrators estimated the minimum number of nurses to have on hand for the various times of the day and days of the week, as shown in the following table. 

| Shift | Time | Minimum number of nurses needed |
|--|--|--|
| 1 | Midnight-4am | 5 |
| 2 | 4am-8am | 12 |
| 3 | 8am-noon | 14 |
| 4 | noon-4pm | 8 |
| 5 | 4pm-8pm | 14 |
| 6 | 8pm-Midnight | 10 |

Nurses work 8 hours a day in two consecutive shifts. As a result, in each shift, there are two types of nurses: those that started in the previous shift (and are now working their second shift), and those that just started in this shift (and will be working in the next shift as well). 

**A) (English Summary)** Summarize the decision, the objective and the constraints in English. 

**B) (Concrete Formulation)** Translate the above into a concrete formulation, by writing the decision variables, objective, and the constraints.

**C) (Abstract Formulation)** Generalize the concrete formulation above to be able to handle arbitrary number of shifts in a cycle and arbitrary number of nurses needed for a shift (assuming still that each nurse stays for 2 shifts and the last shift connects to the first shift). You must render the math nicely using LaTex. 

**D) (Numerical Solution)** Use Gurobi to solve the abstract formulation in part C) using the data above.

Decision: How many nurses to assign in each shift?\
Objective: Minimize the number of assigned nurses.\
Constraints:

            Nurses will work in 2 consecutive shifts;
            A minimal number for each shift.

**Objective and Constraints:** 

$$
\begin{aligned}
\text{Minimize: } && x_{1}+x_{2}+x_{3}+x_{4}+x_{5}+x_{6} \\
\text{Subject to:}\\
\text{(Shift cycle)} && x_{0} = x_{6} \\
\text{(Shift 1)} && x_{0}+x_{1}= y_{1} \\
\text{(Shift 2)} && x_{1}+x_{2}= y_{2} \\
\text{(Shift 3)} && x_{2}+x_{3}= y_{3} \\
\text{(Shift 4)} && x_{3}+x_{4}= y_{4} \\
\text{(Shift 5)} && x_{4}+x_{5}= y_{5} \\
\text{(Shift 6)} && x_{5}+x_{6}= y_{6} \\
\text{(Shift 1 minimal number)} && y_{1} & \ge 5 \\
\text{(Shift 2 minimal number)} && y_{2} & \ge 12 \\
\text{(Shift 3 minimal number)} && y_{3} & \ge 14 \\
\text{(Shift 4 minimal number)} && y_{4} & \ge 8 \\
\text{(Shift 5 minimal number)} && y_{5} & \ge 14 \\
\text{(Shift 6 minimal number)} && y_{6} & \ge 10\\
\text{(Non-negativity}) && x_{i} & \ge 0 \quad \text{for all $i$.}
\end{aligned}$$

**Decision variables:** Let $X_{i}$ denote how many nurse to assign to each shift $i \in I$. (Integer)

**Objective and constraints:**

$$\begin{aligned}
\text{Minimize} && \sum_{i\in I} x_{i} \\
\text{(Shift cycle)} && x_{0} = x_{last} \\
\text{(Shift)} && x_{i-1}+x_{i}= y_{i} && \text{ for each $i \in I$.}\\
\text{(Demand)} && y_{i} & \ge q_{i} && \text{ for each $i \in I$.}\\
\text{(Non-negativity)} && x_{i} & \ge 0  && \text{ for each $i \in I$.}
\end{aligned}$$

In [5]:
I = [1,2,3,4,5,6]

In [6]:
import pandas as pd
Q = pd.Series([5,12,14,8,14,10])

In [7]:
Q.index = I

In [8]:
Q.iloc[0]

5

In [9]:
import pandas as pd
from gurobipy import Model, GRB
I = [i for i in range(1,7)]
mod = Model()
x = mod.addVars(I, vtype=GRB.INTEGER,lb=0)
y = mod.addVars(I, vtype=GRB.INTEGER)
x[0] = mod.addVar(vtype=GRB.INTEGER)
mod.setObjective(sum(x[i] for i in I))
mod.addConstr(x[0] - x[I[-1]] == 0)
for i in I:
    mod.addConstr(y[i] == x[i-1] + x[i])
for i in I:
    mod.addConstr(y[i] >= Q.loc[i])
mod.setParam('outputflag', False)
mod.optimize()

carry = []
for i in I:
    carry.append(x[i].x)

carry

Using license file /Users/j/gurobi.lic
Academic license - for non-commercial use only

[5.0, 7.0, 7.0, 4.0, 10.0, 0.0]


## Q3. Project Selection
Ebony is an ambitious master's student who would like to maximize the number of extra-curricular business analytics projects she takes part of this year. However, projects may conflict with one another. The following graph summarizes the conflicts. (For example, project A conflicts with B, C and D, but projects B and D can be done together.)

<img src='Hwk8-Ebony.png'>

Beside the conflict above, 

- Project A is a prerequisite to project F (meaning that pursuing F requires also pursuing A.)
- Project B is a prerequisite to project G.

Formulate an optimization problem to help her decide which projects to pursue.

**A) (English Summary)** Summarize the decision, objective and constraints in English.

**B) (Concrete Formulation)** Using the data above, translate the english summary into a concrete formulation of a LP or MIP, by giving the decision variables, objective, and the constraints.

**C) (Abstract Formulation)** Write an abstract formulation that generalizes the above to arbitrary datasets. You should define data variables to encode all the input data needed.

**D) (Numerical Solution)** Use Gurobi to solve the abstract formulation from part C) using the data above.

Decision: Whether to take a project.

Objective: Maximize the number of projects that been taken.

**Objective and Constraints:** 

$$
\begin{aligned}
\text{Maximize: } && x_{a}+x_{b}+x_{c}+x_{d}+x_{e}+x_{f}+x_{g} \\
\text{Subject to:}\\
\text{(Conflict 1)} && x_{a}+x_{b} & \le 1 \\
\text{(Conflict 2)} && x_{a}+x_{c} & \le 1 \\
\text{(Conflict 3)} && x_{a}+x_{d} & \le 1 \\
\text{(Conflict 4)} && x_{b}+x_{c} & \le 1 \\
\text{(Conflict 5)} && x_{d}+x_{e} & \le 1 \\
\text{(Conflict 6)} && x_{e}+x_{f} & \le 1 \\
\text{(Conflict 7)} && x_{e}+x_{g} & \le 1 \\
\text{(Conflict 8)} && x_{f}+x_{g} & \le 1 \\
\text{(Prerequisite A)} && x_{a} & \ge x_{f} \\
\text{(Prerequisite B)} && x_{b} & \ge x_{g} \\
\end{aligned}$$

**Decision variables:** Let $X_{i}$ denote whether to take a project $i \in I$. (Integer)

**Objective and constraints:**

$$\begin{aligned}
\text{Minimize} && \sum_{i\in I} x_{i} \\
\text{(Conflict)} &&  x{i}+x{j} & \le a_{ij} \\ && \text{ for each $i \in I$, $j \in $J.}\\
\text{(Prerequisite)} && x_{i} & \ge \sum_{j\in J} b_{ij}*x{j}\\ && \text{ for each $i \in I$.}\\
\end{aligned}$$

In [10]:
I = ['a','b','c','d','e','f','g']

In [11]:
J = ['a','b','c','d','e','f','g']

In [15]:
A = pd.DataFrame(a,columns=J,index=I)

In [14]:
a = [[2,1,1,1,2,2,2],
[1,2,2,2,2,2,2],
[1,1,2,2,2,2,2],
[1,2,2,2,1,2,2],
[2,2,2,1,2,1,2],
[2,2,2,2,1,2,1],
[2,2,2,2,1,1,2],]

In [16]:
A

   a  b  c  d  e  f  g
a  2  1  1  1  2  2  2
b  1  2  2  2  2  2  2
c  1  1  2  2  2  2  2
d  1  2  2  2  1  2  2
e  2  2  2  1  2  1  2
f  2  2  2  2  1  2  1
g  2  2  2  2  1  1  2

In [17]:
b = [[0,0,0,0,0,1,0],
[0,0,0,0,0,0,1],
[0,0,0,0,0,0,0],
[0,0,0,0,0,0,0],
[0,0,0,0,0,0,0],
[0,0,0,0,0,0,0],
[0,0,0,0,0,0,0]]

In [18]:
B = pd.DataFrame(b,columns=J,index=I)

In [19]:
B.loc['a','f']

1

In [20]:
B

   a  b  c  d  e  f  g
a  0  0  0  0  0  1  0
b  0  0  0  0  0  0  1
c  0  0  0  0  0  0  0
d  0  0  0  0  0  0  0
e  0  0  0  0  0  0  0
f  0  0  0  0  0  0  0
g  0  0  0  0  0  0  0

In [21]:
mod = Model()
x = mod.addVars(I, vtype=GRB.BINARY)
mod.setObjective(sum(x[i] for i in I),sense=GRB.MAXIMIZE)
for i in I:
    for j in J:
        mod.addConstr(x[i]+x[j]<=A.loc[i,j])
for i in I:
    mod.addConstr(x[i]>=sum(B.loc[i,j]*x[j] for j in J))
mod.setParam('outputflag', False)
mod.optimize()

carry = []
for i in I:
    carry.append(x[i].x)

carry

[0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0]


## Q4. Off-Campus Security
USC would like to protect every intersection around USC by stationing security staff, so that every intersection either has a staff stationed, or neighbors another intersection that has a staff stationed. For example, in the following sample map with 10 intersections, the neighbors of intersection A are B and E. So if a staff is stationed at intersection A, then intersections A, B, and E are all protected. 

![Sample Map for Q2](Hwk8-Q4.png)

For the above map, formulate an optimization problem (LP or MIP) to minimize the number of staff needed, subject to protecting all 10 intersections, as well as satisfying the following constraints:

- Staff cannot be stationed at both intersections A and B.
- At least three of E, F, G and H must have a staff directly stationed. 
- No one can be stationed at intersection J.
- There must be at least one staff who is stationed at an intersection where he/she can simultaneously protect both intersections C and H.

**a)** What is the decision (in words)?

**b)** What is the objective (in words)?

**c)** Other than the constraints listed in bullets above, describe any one constraint (in words). 

**d)** Write a concrete LP formulation using the correct mathematical notation, specifying the decision variables, the objective function and all constraints. 

**e)** Find a numerical solution using Gurobi

Decision: Whether to have a security staff at an intersection?

Objective: Minimize the number of staff.

**Decision variables:** Let $X_{i}$ denote whether to have a security staff at intersection $i \in I$. (Integer)

**Objective and constraints:**

$$\begin{aligned}
\text{Minimize} && \sum_{i\in I} x_{i} \\
\text{Neighbors} && \sum_{j\in J} A_{ij}*x_{j} \ge 1\\ && \text{ for each $i \in I$.}\\
\text{(Constraint 1)} && x_{a}+x_{b} & \le 1 \\
\text{(Constraint 2)} && x_{e}+x_{f}+x_{g}+x_{h} & \le 1 \\
\text{(Constraint 3)} && x_{j} = 0 \\
\text{(Constraint 4)} && x_{d}+x_{g} & \ge 1 \\
\end{aligned}$$

In [22]:
a = [[1,1,0,0,1,0,0,0,0,0],
[1,1,1,0,0,1,0,0,0,0],
[0,1,1,1,0,0,1,0,0,0],
[0,0,1,1,0,0,0,1,0,0],
[1,0,0,0,1,1,0,0,1,0],
[0,1,0,0,1,1,1,0,1,0],
[0,0,1,0,0,1,1,1,1,0],
[0,0,0,1,0,0,1,1,1,0],
[0,0,0,0,0,0,1,1,1,1],
[0,0,0,0,0,0,0,1,1,1]]

In [23]:
a1 = ['a','b','c','d','e','f','g','h','i','j']
a2 = ['a','b','c','d','e','f','g','h','i','j']

In [25]:
A = pd.DataFrame(a,columns=a1,index=a2)

In [26]:
A

   a  b  c  d  e  f  g  h  i  j
a  1  1  0  0  1  0  0  0  0  0
b  1  1  1  0  0  1  0  0  0  0
c  0  1  1  1  0  0  1  0  0  0
d  0  0  1  1  0  0  0  1  0  0
e  1  0  0  0  1  1  0  0  1  0
f  0  1  0  0  1  1  1  0  1  0
g  0  0  1  0  0  1  1  1  1  0
h  0  0  0  1  0  0  1  1  1  0
i  0  0  0  0  0  0  1  1  1  1
j  0  0  0  0  0  0  0  1  1  1

In [ ]:
import pandas as pd
from gurobipy import Model, GRB
mod1 = Model()
mod1.addVars(a1,vtype=GRB.BINARY)
mod1.setObjective(sum(x[i] for i in a1))

In [ ]:
mod1 = Model1()

In [30]:
mod1 = Model()
x = mod1.addVars(a1,vtype=GRB.BINARY)
mod1.setObjective(sum(x[i] for i in a1))
for i in a1:
    mod1.addConstr(sum(x[j]*A.loc[i,j] for j in a2) >= 1)
mod1.addConstr(x['a']+x['b']<=1)
mod1.addConstr(x['e']+x['f']+x['g']+x['h']>=3)
mod1.addConstr(x['j']==0)
mod1.addConstr(x['d']+x['g']>=1)

mod1.setParam('outputflag', False)
mod1.optimize()

carry = []
for i in a1:
    carry.append(x[i].x)

carry

[0.0, 0.0, 0.0, -0.0, 1.0, 1.0, 1.0, 1.0, -0.0, 0.0]

## Q5. Team Assignment

The following MIP is a simplified version of the program used to assign students into project teams in this course, to balance the overall characteristics of each team.

**Data:**

- $I$: set of students.
- $n$: number of teams
- $J=\{1,2,\cdots,n\}$ : set of teams.
- $K$: set of characteristics.
- $a_{ik}$: student $i$'s value for characteristics $k$.
- $w_k$: the weight for characteristics $k$ in the objective.
- $L_k$: the best lower bound for the sum of characteristic $k$ for any team. 
- $U_k$: the best upper bound for the sum of characteristics $k$ for any team.

You should assume that the data is given in a excel file with the same format as the `HWK8-Q5-input-1.xlsx` and `HWK8-Q5-input-2.xlsx` files attached to this assignment. 

The sheet named "Students" encodes $I$, $K$ and $a_{ik}$'s. In the below screenshot of `HWK8-Q5-input-1.xlsx`, $I=\{A,B,C,D,E,F\}$, and $K=\{Person, Male, Programmer, Math, Speaking\}$.

<img src='Hwk8-Q5-1a.png' width=500>

The sheet named "Parameters" encodes the $w_k$, $L_k$ and $U_k$ for each characteristic $k$.

<img src='Hwk8-Q5-1b.png' width=500>

**Decision variables:**

- $x_{ij}$ : whether to assign student $i$ to team $j$. (Binary)
- $s_k$,  and $t_k$ : auxilliary variables for each characteristic $k$. (Continuous)

**MIP:**

$$\begin{aligned}
\text{Minimize:} && \sum_{k \in K} w_k(s_k+t_k) \\
\text{subject to:} && \\
\text{(Every person assigned)} && \sum_{j \in J} x_{ij} & = 1 && \text{For each person $i \in I$.}\\
\text{(Team balance)} && L_k - s_k \le \sum_{i \in I} a_{ik}x_{ij} & \le U_k + t_k && \text{For each team $j \in J$ and each $k \in K$.} \\
\text{(Binary)} && x_{ij} & \in \{0, 1\} && \text{for all $i$ and $j$.}\\
\text{(Non-negativity)} && s_k, t_k & \ge 0 && \text{for all $k$.}
\end{aligned}$$

**Write a function called "assignTeams" with the following input arguments**:

- **inputFile:** path to the input spreadsheet.
- **n:** the number of teams to divide students into.

**The function should return two variables:**

- **df:** a DataFrame with one column called "Team". The index should be the name of each individual, and the column "Team" should specify the number $j$ to which the person is assigned.
- **objval:** the optimal objective value.

In [31]:
input1 = pd.read_excel('HWK8-Q5-input-1.xlsx',sheet_name='Students',index_col=0)

In [33]:
input1

       Person  Male  Programmer  Math  Speaking
Names
A           1     1           1     1         1
B           1     1           0     0         0
C           1     0           0     1         1
D           1     0           0     1         0
E           1     0           0     0         1
F           1     1           1     0         1

In [34]:
input2 = pd.read_excel('HWK8-Q5-input-1.xlsx',sheet_name='Parameters',index_col=0)

In [37]:
input2

         Person  Male  Programmer  Math  Speaking
Weights      10     3           5     2         2
L             3     1           1     1         2
U             3     2           1     2         2

In [39]:
W = input2.loc['Weights']
L = input2.loc['L']
U = input2.loc['U']

In [49]:
W['Person']

10

In [63]:
A = input1

In [51]:
I = input1.index
K = input2.columns

In [88]:
J=['1','2']

In [89]:
J

['1', '2']

In [87]:
A

       Person  Male  Programmer  Math  Speaking
Names
A           1     1           1     1         1
B           1     1           0     0         0
C           1     0           0     1         1
D           1     0           0     1         0
E           1     0           0     0         1
F           1     1           1     0         1

In [91]:
mod2 = Model()
x = mod2.addVars(I,J,vtype=GRB.BINARY)
s = mod2.addVars(K,lb=0)
t = mod2.addVars(K,lb=0)
mod2.setObjective(sum(W[k]*(s[k]+t[k]) for k in K))
for i in I:
    mod2.addConstr(sum(x[i,j] for j in J)==1)
for j in J:
    for k in K:
        mod2.addConstr(sum(x[i,j]*A.loc[i,k] for i in I) >= L.loc[k]-s[k])
        mod2.addConstr(sum(x[i,j]*A.loc[i,k] for i in I) <= U.loc[k]+t[k])
mod2.setParam('outputflag', False)
mod2.optimize()

In [94]:
mod2.objVal

0.0

In [107]:
df=pd.DataFrame(columns=['Team'],index=I)

In [117]:
for i in I:
    for j in J:
        if x[i,j].x:
            df.loc[i,'Team'] = j

In [118]:
df

      Team
Names
A        2
B        2
C        2
D        1
E        1
F        1

In [130]:
input1 = pd.read_excel('HWK8-Q5-input-2.xlsx',sheet_name='Students',index_col=0)
input2 = pd.read_excel('HWK8-Q5-input-2.xlsx',sheet_name='Parameters',index_col=0)
A = input1
W = input2.loc['Weights']
L = input2.loc['L']
U = input2.loc['U']
J = [i for i in range(1,11)]
I = input1.index
K = input2.columns

In [131]:
mod3 = Model()
x = mod3.addVars(I,J,vtype=GRB.BINARY)
s = mod3.addVars(K,lb=0)
t = mod3.addVars(K,lb=0)
mod3.setObjective(sum(W[k]*(s[k]+t[k]) for k in K))
for i in I:
    mod3.addConstr(sum(x[i,j] for j in J)==1)
for j in J:
    for k in K:
        mod3.addConstr(sum(x[i,j]*A.loc[i,k] for i in I) >= L.loc[k]-s[k])
        mod3.addConstr(sum(x[i,j]*A.loc[i,k] for i in I) <= U.loc[k]+t[k])
mod3.setParam('outputflag', False)
mod3.optimize()

In [132]:
mod3.objVal

8.0

In [133]:
df=pd.DataFrame(columns=['Team'],index=I)
for i in I:
    for j in J:
        if x[i,j].x:
            df.loc[i,'Team'] = j

In [134]:
df.sort_values('Team')

           Team
Names
ZhongLin      1
Bob           1
Xenna         1
Patty         1
I-Ting        1
Ouyang        2
Mei           2
Kathryn       2
Qinan         2
XingZhou      2
Vienna        3
Wing          3
Kyle          3
Rebecca       3
Terrisa       3
Edna          4
Daphne        4
Queyan        4
Heng          4
Greg          4
Dina          5
Enlin         5
Scott         5
Ming          5
Alice         5
Yingying      6
Priscilla     6
OJ            6
Shawn         6
Louisa        6
Charlotte     7
Laura         7
Yang          7
Nan           7
Tania         7
Wayne         7
Catherine     8
I-An          8
Frank         8
Gabriella     8
Jack          8
Vishnu        9
Alvina        9
Betsy         9
Una           9
Ran           9
Henry        10
U-Ting       10
Nina         10
Jingting     10
Zhuoteng     10

In [147]:
def assignTeams(inputfile,n):
    import pandas as pd
    input1 = pd.read_excel(inputfile,sheet_name='Students',index_col=0)
    input2 = pd.read_excel(inputfile,sheet_name='Parameters',index_col=0)
    A = input1
    W = input2.loc['Weights']
    L = input2.loc['L']
    U = input2.loc['U']
    J = [i for i in range(1,n+1)]
    I = input1.index
    K = input2.columns
    mod = Model()
    x = mod.addVars(I,J,vtype=GRB.BINARY)
    s = mod.addVars(K,lb=0)
    t = mod.addVars(K,lb=0)
    mod.setObjective(sum(W[k]*(s[k]+t[k]) for k in K))
    for i in I:
        mod.addConstr(sum(x[i,j] for j in J)==1)
    for j in J:
        for k in K:
            mod.addConstr(sum(x[i,j]*A.loc[i,k] for i in I) >= L.loc[k]-s[k])
            mod.addConstr(sum(x[i,j]*A.loc[i,k] for i in I) <= U.loc[k]+t[k])
    mod.setParam('outputflag', False)
    mod.optimize()
    
    df=pd.DataFrame(columns=['Team'],index=I)
    for i in I:
        for j in J:
            if x[i,j].x:
                df.loc[i,'Team'] = j
    return df,mod.objval

In [149]:
df,objval=assignTeams('HWK8-Q5-input-2.xlsx',10)
print('Optimal objective value',objval)
df.sort_values(by='Team')

Optimal objective value 8.0

           Team
Names
ZhongLin      1
Bob           1
Xenna         1
Patty         1
I-Ting        1
Ouyang        2
Mei           2
Kathryn       2
Qinan         2
XingZhou      2
Vienna        3
Wing          3
Kyle          3
Rebecca       3
Terrisa       3
Edna          4
Daphne        4
Queyan        4
Heng          4
Greg          4
Dina          5
Enlin         5
Scott         5
Ming          5
Alice         5
Yingying      6
Priscilla     6
OJ            6
Shawn         6
Louisa        6
Charlotte     7
Laura         7
Yang          7
Nan           7
Tania         7
Wayne         7
Catherine     8
I-An          8
Frank         8
Gabriella     8
Jack          8
Vishnu        9
Alvina        9
Betsy         9
Una           9
Ran           9
Henry        10
U-Ting       10
Nina         10
Jingting     10
Zhuoteng     10

In [ ]:
# After you have completed the function, the following is sample output .
# Note that it is okay if your team numbers are reversed from below.
df,objval=assignTeams('HWK8-Q5-input-1.xlsx',2)
print('Optimal objective value',objval)
df

In [ ]:
# Your code should work for both of the input files. The following sorts the DataFrame by Team.
df,objval=assignTeams('HWK8-Q5-input-2.xlsx',10)
print('Optimal objective value',objval)
df.sort_values(by='Team')